.empolink-heading {
    color: white;
    position: absolute;
    margin-top: 110px;
    margin-left: 110px;
    font-size: 35px;
    letter-spacing: 2.84px;
    font-family: 'libre franklin';
}

.signUpHeading{
    font-family: 'Libre Franklin';
    font-size: 38px;
    font-weight: bold;
    margin: 0px;
    padding-top: 111px;
    color: #414141
}

.signUpSubHeading{
    font-family: 'Libre Franklin';
    font-size: 26px;
    color: #707070;
    padding-bottom: 148.5px;
}